.header-container{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.nav-list{
    width: 48%;
  /* background-color: black;*/
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.rightNav{
    /*   background-color: salmon;*/
      
       text-align: right;
       padding: 0 23px;
   }